@import "tailwindcss";

@theme {
    --font-sans: "Geist", sans-serif;
}

body {
    background-color: #0a1219;
    color: #f8fafc;
    margin: 0;
    font-family: 'Geist', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}